
.ToggleButton {
    display: flex; 
    flex-direction: column;
    height: 24px; 
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;
    margin-left: 0.5rem;
}
.ToggleButton:focus {
    outline: none;
}

.ToggleButtonLine {
    height: 2px;
    width: 30px;
    background: navy;
}

@media(min-width: 600px) {
    .ToggleButton {
        display: none;
}
}