.InnerContainer {
    transition: visibility 0.2s ease-out;
}

.InnerContainer.show {
    visibility: visible;
}

.Box {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.InputGroup {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.LoginLabel {
    font-family: Lora, serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

.LoginInput {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid black;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Lora, serif;
    font-size: 19px;
    color: firebrick;
    background: rgba(15,15,15, 0.01);
}

.LoginInput:hover {
    border: 2px solid black;
    color: firebrick;
}

.LoginInput:focus {
    border: 2px solid #6565e7
}


.LoginInput::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    color: rgba(46, 213, 116, 0.839);
    
}

.LoginBtn {
    padding: 2px 30px;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.LoginBtn:hover,
.LoginBtn:focus {
    background-color: #417cef;
    color: white;
}